pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn

#for api
fastapi==0.108.0
uvicorn
pytz

#for car images
requests
beautifulsoup4
selenium
serpapi
lxml
google-search-results
